*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color : #c5c1c1;
  --pure-color : #fff;
  --danger: red;
  --font-color: #888888;
}

body {
  background: #fff;
  padding: 0px 5px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 3px;
}

.header .logo {
  color: #000;
  font-size: bold;
  border: 2px #000 solid;
  padding: 0.2rem 2rem;
}

.header .icons {
  margin-top: 5px;
  background: #fff;
  display: flex;
  color: var(--danger); 
  text-align: center;
}

.wallet {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background: rgb(212, 211, 211);
  padding: 10px 20px;
  text-align: center;
  border-radius: 15px;
  color: #000;
  box-shadow: 0px 5px 10px #888888, -0px -5px 10px #888888;
  margin-bottom: 40px;
}

.wallet h2 {
  padding: 10px;
}

.select h2 {
  background: #f4f4f4;
  color: #25abff;
  padding: 25px 0px 10px 5px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.inputarea {
  background: #f4f4f4;
  margin: 10px 10px 10px 0px;
  display: flex;
  align-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.inputarea label {
  padding: 10px;
  color: #000;
  flex-basis: 10%;
  font-weight: 700;
  border: 2px #888 solid;
}

.inputarea input {
  background: #f4f4f4;
  color: #888888;
  flex-basis: 90%;
  padding: 0px 10px; 
  border: 2px #c7c7c7 solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-contain {
  width: 100%;
  margin: auto;
  display: flex;
}

.btn {
  padding: 15px 40px;
  margin: 10px auto;
  border: none;
  font-weight: 600;
  background: #26abff;
  color: #e7e6e6;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover{
  background: #0a7bc2;
}

.act {
  margin-top: 20px;
}

.act h2{
  background: var(--primary-color);
  color: var(--pure-color);
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.active {
  border: 1px #000 solid;
  background: #dddddd;
}

.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #000;
  text-align: center;
  font-weight: 700;
}

.space {
  width: 100%;
  height: 30px;
  background: var(--primary-color);
  padding: 10px;
  margin: 5px 0px;
}
.line {
  padding-top: 5px;
  border-top: 1px var(--primary-color) solid;
}

.menu {
  position: relative;
  bottom: 0;
}

.menu-icon {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background: var(--pure-color);
  position: relative;
  padding: 10px;
}

.menu-icons {
  opacity: 0.4;
}

.menu-icons i {
  color: var(--danger);
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.menu-icons a {
  text-decoration: none;
  color: rgb(240, 93, 166);
  font-weight: 700;
}

.activitymain,
.marketmain,
.earnmain,
.walletmain {
  font-size: 2rem;
  text-align: center;
  color: rgb(240, 93, 166);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu-icons:active {
  opacity: 1;
}





